[Unit]
Description=Bitcoin daemon service {{ bd.net }}
After=network.target

[Service]
Type=simple
User=bitcoind
ExecStart=/usr/bin/bitcoind -conf=/etc/bitcoin/bitcoind.conf
Restart=always

ExecStartPre=/bin/bash /var/bitcoind/shaper.sh start
PermissionsStartOnly=True

ExecStop=/usr/bin/bitcoin-cli --conf=/etc/bitcoin/bitcoind.conf stop

[Install]
WantedBy=multi-user.target
