[Unit]
Description=Bitcoin daemon service {{ bd.net }}
After=network.target
 
[Service]
Type=simple
User=bitcoind
ExecStart=/usr/bin/bitcoind -conf=/etc/bitcoin/bitcoind.conf


ExecStartPre=/bin/bash /var/bitcoind/shaper.sh start
PermissionsStartOnly=True

[Install]
WantedBy=multi-user.target
