[Unit]
Description=Xbterminal App {{ task.name }} service
After=network.target

[Service]
EnvironmentFile=-/etc/default/xbterminal
Type=simple
{% for opt in task.service %}
{{opt}}
{% endfor %}

[Install]
WantedBy=multi-user.target