[Unit]
Description=Xbterminal App uWSGI service
After=network.target

[Service]
EnvironmentFile=-/etc/default/xbterminal
Type=simple
LimitNOFILE=8192
ExecStart=/usr/bin/uwsgi  --ini /etc/xbterminal/uwsgi-xbterminal.ini
Restart=always
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target